{{ define "login.html" }}
{{ template "base.html" . }}
{{ end }}

{{ define "content" }}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">Sign In to Your Account</h2>
    
    <form id="loginForm" class="space-y-4">
        <input type="text" id="loginUsername" placeholder="Username" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">

        <div class="relative">
            <input type="password" id="loginPassword" placeholder="Password" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
            <span class="absolute eye-icon inset-y-0 right-0 flex items-center pr-3 cursor-pointer" onclick="togglePasswordVisibility()"><i class="fa-solid fa-eye"></i></span>
        </div>

        <button type="submit" class="w-full bg-green-500 text-white p-2 rounded hover:bg-green-600 transition">Login</button>
    </form>
    
    <div id="message"></div>

    <div class="mt-6 text-center">
        <p class="text-gray-600">Don't have an account? <a href="/register" class="text-blue-600 hover:underline">Sign Up</a></p>
    </div>
</div>
<script>
function togglePasswordVisibility() {
    const passwordInput = document.getElementById('loginPassword');
    const eyeIcon = document.querySelector('.fa-eye, .fa-eye-slash'); 

    if (passwordInput.type === 'password') {
        passwordInput.type = 'text'; 
        eyeIcon.classList.replace('fa-eye', 'fa-eye-slash'); 
    } else {
        passwordInput.type = 'password'; 
        eyeIcon.classList.replace('fa-eye-slash', 'fa-eye'); 
    }
}
</script>
{{ end }}