{{ define "login.html" }}
{{ template "base.html" . }}
{{ end }}

{{ define "content" }}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">Sign In to Your Account</h2>
    
    <form id="loginForm" class="space-y-4">
        <input type="text" id="registerUsername" placeholder="Username" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
        <input type="password" id="registerPassword" placeholder="Password" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
        <button type="submit" class="w-full bg-green-500 text-white p-2 rounded hover:bg-green-600 transition">Register</button>
    </form>
    
    <div class="mt-6 text-center">
        <p class="text-gray-600">Don't have an account? <a href="/register" class="text-blue-600 hover:underline">Sign Up</a></p>
    </div>
</div>
{{ end }}