{{ define "register.html" }}
{{ template "base.html" . }}
{{ end }}

{{ define "content" }}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">Create Your Account</h2>
    
    <form id="registerForm" class="space-y-4">
        <input type="text" id="registerUsername" placeholder="Username" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
        <input type="email" id="registerEmail" placeholder="Email" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
        <div class="relative">
            <input type="password" id="registerPassword" placeholder="Password" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
            <span class="absolute eye-icon inset-y-0 right-0 flex items-center pr-3 cursor-pointer" onclick="togglePasswordVisibility()"><i class="fa-solid fa-eye"></i></span>
        </div>

        <input type="password" id="confirmPassword" placeholder="Confirm Password" class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-300 focus:outline-none">
        <button type="submit" class="w-full bg-green-500 text-white p-2 rounded hover:bg-green-600 transition">Register</button>
    </form>
    
    <div id="message"></div>

    <div class="mt-6 text-center">
        <p class="text-gray-600">Already have an account? <a href="/login" class="text-blue-600 hover:underline">Log in</a></p>
    </div>
</div>
<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('loginPassword');
        const eyeIcon = document.querySelector('.fa-eye, .fa-eye-slash'); 
    
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text'; 
            eyeIcon.classList.replace('fa-eye', 'fa-eye-slash'); 
        } else {
            passwordInput.type = 'password'; 
            eyeIcon.classList.replace('fa-eye-slash', 'fa-eye'); 
        }
    }
    </script>
{{ end }}